$bgColor: #f4f4f4;
$textColor: #295465;
$linkColor: #147c68;
$inputFieldHeightMob: 60px;
$bgInput: white;
*{
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
body {
    background-color: $bgColor;
}
.converter {
    padding: 3% 4%;
    text-align: center;
    &__row {
        display: flex;
        flex-direction: column;
    }
    &__btn-reverse {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    &__link {
        border: 0;
        background: $linkColor;
        color: #fff;
        font-size: 30px;
        border-radius: 5px;
        display: block;
        max-width: 350px;
        margin: 25px auto;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 5px 30px;
        box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
        text-decoration: none;
    }
}

.converter-block {
    &__title {
        color: $textColor;
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
       
    }
}

.currency-field {
    width: 100%;
    display: flex;
    align-items: stretch;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 40%);
    position: relative;
    height: 60px;
    padding-left: 15px;
    background-color: $bgInput;
    &__input {
        flex-grow: 2;
        max-width: 80%;
        font-weight: bold;
        font-size: 32px;
        color: #f7931a;
        border: 1px solid #cdcdcd;
        border: none;
        outline: none;
        z-index: 8;
        &--get {
            color: $linkColor;
        }
    }
    &__select {
        width: 15vw;
        aspect-ratio: 1/1;
        border: none;
        outline: none;
        border: 1px solid #cdcdcd;
        border-left: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &__select::-ms-expand {
        display: none;
      }

      &__list{
        border-left: 1px solid rgb(0, 0, 0, 0.1);
        width: 20%;
        background-color: $bgInput;
        position: relative;
      }
    &__items{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        transition: all .3s ease-in-out;
        input{
            display: none;
        }
        label{
            transition: transform .2s ease-in-out ;
            transform: translateY(-50%);
            pointer-events: none;
            opacity: 0;
            order: 2;
           
            &.active{
                order:0;
                opacity: 1;
                transform: none;
                transition: none;
                z-index: 4;
                border-bottom: none;
            }
        }
    }
    &__items.open{
        max-height: 100vw;
        z-index: 3;
        label{
            transform: none;
            opacity: 1;
            pointer-events: all;
            &.active{
                border-bottom: 1px solid rgba(0,0,0,0.4);
            }
        }
    }
    &__item{
        width: 100%;
        height: $inputFieldHeightMob;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $bgInput;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        position: relative;
        &--trx{
            background-image: url('./static/img/trx.png');
        }
        &--carduah{
            background-image: url('./static/img/uah.png');
        }
        &--p24uah{
            background-image: url('./static/img/uah.png');;
        }
        &--usdttrc20{
            background-image: url('./static/img/usdt.png');;
        }
        &--usdterc20{
            background-image: url('./static/img/usdt.png');;
        }
        &--eth{
            background-image: url('./static/img/eth.png');;
        }
        &--btc{
            background-image: url('./static/img/btc.png');;
        }
        &--monobuah{
            background-image: url('./static/img/uah.png');;
        }
    }
    &__item.active{
        .currency-field__item-title {
            display: none
        }
    }
    &__item-title{
        display: block;
       margin-top: auto;
       transform: translateX(-100%);
       position: absolute;
       top: 1px;
       white-space: nowrap;
       color: $linkColor;
       font-family: "Roboto Condensed", sans-serif;
       width: 200%;
       height: 100%;
       text-align: center;
       background-color: rgb(212, 212, 212);
       padding-top: 25%;
       border-bottom: 1px solid rgba(0,0,0,0.4);
    }
    &__hidden-btn{
        position: absolute;
        width:20%;
        height: $inputFieldHeightMob;
        top: 0;
        right: 0;
        background-color: transparent;
        z-index: 5;
        border:none;
        outline: none;
    }
   
}

.btn-reverse {
    width: 18vw;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./static/img/obmen.png");
    background-color: transparent;
    border: none;
}


@media (min-width: 1024px) {
    .converter {
        padding: 3% 4%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 5% 15%;
        &__row {
            flex-direction: row;
            justify-content: space-around;
            padding: 0 15%;
        }
        &__btn-reverse {
            width: 10%;
        }
        &__link {
            margin: 55px auto;
        }
    }
    
    .converter-block {
        width: 35%;
    }
    
    .btn-reverse {
        width: 3vw;
    }
}